<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			<p>&copy 2021 Cov2Tracker<br/>Sars CoV-2 Surveillance Screening Research Group</p>
	  </div>
		  <div class="col-sm-4">
			<p>Contact:<br/>Please email <a href="mailto:info@cov2tracker.com">info@cov2tracker.com</a> for more information about our research.</p>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
